<h3>Orders</h3>
<%- include ('../partials/messages'); %>
<% if(orders){ %>
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="row"></th>
        <th scope="col">Orders</th>
        <th scope="col">User</th>
        <th scope="col">Address</th>
        <th scope="col">Status</th>
        <th scope="col">Total Price</th>
        <th scope="col">Placed at</th>
      </tr>
    </thead>

    <% orders.forEach((order) => { %>
    <thead>
      <tr>
        <th scope="row"></th>
        <td>
          <ul class="list-group">
            <% Object.keys(order.cart.items).forEach(function(key) { %>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <%= order.cart.items[key].item.title %> | <%= order.cart.items[key].qty %> Units
                <span class="badge badge-primary badge-pill"><%= order.cart.items[key].price %></span>
              </li>
            <% }); %>
          </ul>
        </td>
        <td><%= order.name %></td>
        <td><%= order.address %></td>
        <td>
          <div class="inline-block relative w-64">
              <form action="/admin/order/status" method="POST">
                  <input type="hidden" name="orderId" value="${ order._id }">
                  <select name="status" onchange="this.form.submit()"
                      class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded focus:outline-none focus:shadow-outline">
                      <option value="order_placed"
                          ${ order.status === 'order_placed' ? 'selected' : '' }>
                          Placed</option>
                      <option value="confirmed" ${ order.status === 'confirmed' ? 'selected' : '' }>
                          Confirmed</option>
                      <option value="prepared" ${ order.status === 'prepared' ? 'selected' : '' }>
                          Prepared</option>
                      <option value="delivered" ${ order.status === 'delivered' ? 'selected' : '' }>
                          Delivered
                      </option>
                      <option value="completed" ${ order.status === 'completed' ? 'selected' : '' }>
                          Completed
                      </option>
                  </select>
              </form>
          </div>
        </td>
        <td><%= order.cart.totalPrice %></td>
        <td><%= moment(order.date).format('hh:mm A') %></td>
      </tr>
    </thead>
    <% }); %>
  </table>
<% } else { %>
    <h2>No Orders.</h2>
<% } %>
