<%- include ('../partials/messages'); %>
<h3>Products</h3>
<a href="/admin/add-product">
  <button type="button" class="btn btn-primary" name="button">Add a Product</button>
</a>
<table class="table mt-4">
  <thead>
    <tr>
      <th scope="row"></th>
      <th scope="col">PRODUCT</th>
      <th scope="col">PRICE</th>
      <th scope="col">CATEGORY</th>
      <th scope="col">IMAGE</th>
      <th scope="col">EDIT</th>
      <th scope="col">DELETE</th>
    </tr>
  </thead>

  <% products.forEach((product) => { %>
  <thead>
    <tr>
      <th scope="row"></th>
      <td><%= product.title %></td>
      <td><%= product.price %></td>
      <td><%= product.category %></td>
      <td><img width="100" height="100" src="<%= product.imagePath %>" alt=""></td>
      <td><a href="/admin/edit-product/<%= product._id %>">Edit</a></td>
      <td><a href="/admin/delete-product/<%= product._id %>">Delete</a></td>
    </tr>
  </thead>
  <% }); %>
</table>
