<%- include ('../partials/messages'); %>
<% if(favorite_list){ %>
  <% favorite_list.forEach((item) => { %>
    <div class="container-fluid">
      <div class="row p-4 border m-3">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <img src="<%= item.imagePath %>" class="img-responsive favorite-image" alt="...">
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <h3 class="title"><%= item.title %></h3>
          <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <div class="clearfix">
            <div class="price pull-left"">&#x20B9; <%= item.price %></div>&nbsp; &nbsp;
            <a href="/user/remove-from-favorite/<%= item._id %>" data-toggle="tooltip" data-placement="bottom" title="Remove from favorite!"><i class="fa fa-heart ml-1 favorite" style="color: #5cb85c; font-size: 20px;" aria-hidden="true"></i></a>
            <a href="/shop/add-to-cart-from-favorite/<%= item._id %>" class="btn btn-success float-right">Order Now</a>
          </div>
        </div>
      </div>
    </div>
  <% }); %>
<% } else { %>
  <h3 class="m-4">No Items added to favorite. &#128577;</h3>
<% } %>

<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
