<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body shadow-lg p-3 mb-5 bg-white rounded p-4">
      <h1 class="text-center mb-3">
        <i class="fa fa-user-plus"></i> Sign up
      </h1>
      <%- include ('../partials/messages'); %>
      <form action="/user/signup" method="POST">
        <div class="form-group">
          <label for="name"><i class="fa fa-phone" aria-hidden="true" style="color: #FE4066;"></i>&nbsp; Mobile Number</label>
          <input
            type="mobile_number"
            id="mobile_number"
            name="mobile_number"
            class="form-control"
            placeholder="Enter Mobile Number"
            value="<%= typeof mobile_number != 'undefined' ? mobile_number : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="name"><i class="fa fa-user-circle" aria-hidden="true" style="color: #FE4066;"></i>&nbsp; Name</label>
          <input
            type="name"
            id="name"
            name="name"
            class="form-control"
            placeholder="Enter Name"
            value="<%= typeof name != 'undefined' ? name : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="email"><i class="fa fa-envelope" aria-hidden="true" style="color: #FE4066;"></i>&nbsp; Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
            value="<%= typeof email != 'undefined' ? email : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password2"><i class="fa fa-key" aria-hidden="true" style="color: #FE4066;"></i>&nbsp; Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Create Password"
            value="<%= typeof password != 'undefined' ? password : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password2"><i class="fa fa-key" aria-hidden="true" style="color: #FE4066;"></i>&nbsp; Confirm Password</label>
          <input
            type="password"
            id="password2"
            name="password2"
            class="form-control"
            placeholder="Confirm Password"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
          />
        </div>
        <button type="submit" class="btn btn-block register">
          Register
        </button>
      </form>
      <p class="lead mt-4">Have An Account? <a href="/user/login">Login</a></p>
    </div>
  </div>
</div>
